<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .frame {
            width: 100%;
            height: 600px;
            border: 1px solid #F00
        }

        .ifa {
            width: 100%;
            height: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

        }
    </style>
</head>
<body>
<div class="frame">
    <iframe src="https://www.99mm2.com" class="ifa" name="iframe_a"></iframe>
</div>
</body>
</html>